<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Home</a></li>
            <th:block th:if="${request.remoteUser}">
                <li><a th:href="@{/security/logoff}">Sign Out</a></li>
                <li><a th:href="@{/order/list}">Your Orders</a></li>
                <th:block th:each="auth: ${#authentication.authorities}">
                    <li th:if="${auth.authority.equals('STAF')}"><a th:href="@{/admin/home/index}">Administration</a></li>
                </th:block>
            </th:block>
            <th:block th:unless="${request.remoteUser}">
                <li><a th:href="@{/security/login/form}">Sign In</a></li>
            </th:block>
        </ul>
        <ul th:if="${request.remoteUser}" class="nav navbar-nav navbar-right">
            <li><a href="#">Welcome [[${#authentication.getPrincipal().getUsername()}]]</a></li>
        </ul>
    </div>
</nav>